
h1, .h1 {
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: var(--primary-white);
}

h2, .h2 {
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: var(--primary-black);
}

h3, .h3 {
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: flex-end;
  text-align: center;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: var(--primary-black);
}

h4, .h4 {
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: var(--primary-black);
}

h5, .h5 {
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 168%;
  letter-spacing: 0.16em;
  text-transform: uppercase;
}

p, .p {
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.01em;
  color: var(--primary-black);
}